body
{
background-color: rgb(255, 72, 0);
}

h1{
    color:rgb(0, 0, 80);
    background-color: yellow;
}

#show_sketch
{
    float: right;
    font-size: 30px;
}

canvas
{
    border: 5px solid rgb(56, 54, 54);
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow: 1px 1px 38px rgb(116, 57, 57) ;}
    to {box-shadow: 1px 1px 38px rgb(255, 0, 0);}
}

p{
    padding-top: 10px;
    font-size: 25;
}